*{
    margin: 0;
    padding: 0;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    width: 71%;
   display: flex;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
}



nav ul{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    list-style: none;
    margin: 34px 0;
}

nav ul a{
    text-decoration: none;
    color: black;
    font-size:16px;
    font-weight: 550;
}

nav .nav-btn {
    /* margin: 24px 120px 0; */
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    background-color:#30B868;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

nav .nav-btn:hover{
    background-color: rgb(5, 72, 159);
    box-shadow: 1px 1px 5px gray;
    transition: 0.3s;
}