*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    width: 71%;
    max-width: 1140px;
   display: flex;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
}



nav ul{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    list-style: none;
    margin: 34px 0;
}

nav ul a{
    text-decoration: none;
    color: black;
    font-size:16px;
    font-weight: 550;
}

nav .nav-btn {
    /* margin: 24px 120px 0; */
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    background-color:#30B868;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

nav .nav-btn:hover{
    background-color: rgb(5, 72, 159);
    box-shadow: 1px 1px 5px gray;
    transition: 0.3s;
}

.banner-section{
    background-image: url('./assets/hero-bg.png');
    height: 674px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content{
    text-align: center;
}

.banner-content .h5-class{
    background-color: bisque;
    width: 230px;
    margin: auto;
    padding: 8px 12px 8px 34px;
    background-color: #FFF;
    border-radius: 1000px;
    
}

.banner-content .h5-class h5{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    color: #30B868;
}

.banner-content .h5-class img{
   
   margin-left: -10; 
}

.banner-content .heading{
    font-size: 50px;
    font-weight: 700;
    color: #FFF;
}

.banner-content .para p{
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    line-height: 24px;
    padding-bottom: 16px;
}

.btns{
    display: flex;
    gap: 10px;
    justify-content: center;
    /* align-items: center; */
}

.btn-1 {
    background-color: #30B868;
    /* padding: 16px  16px 12px; */
    padding: 0 16px 0 16px;
    /* width: 250px; */
    height: 51px;
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
}

.btn-1:hover{
    background-color: rgb(5, 72, 159);
    box-shadow: 1px 1px 5px gray;
    transition: 0.3s;
}


.btn-1 i{
    padding-right: 16px; 
}

.btn-2{
    border: 1px solid white;
    background: none;
    width: 192px;
    height: 51px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}

.btn-2 img{
    padding: 0 20px 16px 16px;
}

.card-section{
    text-align: center;
}

.card-parent{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card{
    padding: 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background-color:rgb(220, 217, 217) ;
    
   
}

.card .icon{
    width: 60px;
    height: 60px;
    margin: auto;
    border: 1px solid white;
    border-radius: 50%;
    background-color:  rgba(249, 85, 85, 1);
    padding-top: 13px;
}

.card h3{
    font-size: 24px;
    font-weight: 600;
    width: 274px;
    height: 29px;
    margin: 0 auto;
}

.solution-section{
    display: flex;
    width: 1150px;
    height:600px;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
}

.solution-image img{
    width: 550px;
    height: 550px;
}

.solution-container{
    margin: 100px 0;
}

.solution-container h5{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #30B868;
    padding-bottom: 16px;
}

.solution-container h1{
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 16px;
}

.solution-container .para{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #3a674c;
    padding-bottom: 30px;
}

.solution-container .check{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.solution-container .check img{
    padding-left: 0;
}

.challnege-section{
    width: 1100px;
    height: 380px;
    margin: 0 auto;
    background-color: rgba(247, 246, 242, 1);
    border: none;
    border-radius:12px;
}

.card-section h1{
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin-top: 50px;
    margin-bottom: 40px;
}

.card-section p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 50px;
    color: #3a674c;
}

.challenge-part{
    text-align: center;
}

.challenge-part h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding: 80px 40px 0 40px;
}

.challenge-part p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #3a674c;
    padding-top: 20px;
}

.challenge-button{
     display: flex;
     justify-content: center;
}

.challenge-button button{
    width: 195px;
    height: 52px;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #FFF;
    margin-top: 24px;
   
}

.challenge-button button:hover{
    background-color: rgb(5, 72, 159);
    box-shadow: 1px 1px 5px gray;
    transition: 0.3s;
}

.text{
    display: flex;
    justify-content: center;
    color: #3a674c;
    margin-top: 18px;
}


footer{
    width: auto;
    height:auto ;
    background-color: rgba(0, 25, 49, 1);
    margin-top: 100px;
    padding: 120px 120px 20px 120px;
}


.footer-items{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    
}

.social-links h3{
    color:#FFF;
}

.social-links .social{
    width: 20px;
    height: 20px;
    background-color: #FFF;
    border: none;
    border-radius: 50%;
    margin-top: 10px;
}

.social-links ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.social-links .social a{
    text-decoration: none;
    color: black;
}

footer .copyright{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    padding-bottom: 0%;
}

footer hr{
   
    margin: 40px 0 20px;

}

footer p{
    color: #FFF;
    text-align: center;
    height: 24px; 
    margin-top: 100px; 
}

